* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  font-weight: 400;
  text-align: right;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.body-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.body-wrapper .main-nav {
  width: 290px;
  background-color: #34ace0;
  height: 100%;
  overflow: auto;
}
.body-wrapper #app {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  max-width: calc(100% - 290px);
}
.body-wrapper #app .app-container {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: #efefef;
  padding: 35px;
  z-index: 1;
  overflow: auto;
}
.body-wrapper #app .app-container .app-content {
  min-height: 100%;
  background-color: #fff;
  border-radius: 20px;
}
.body-wrapper #app .app-container .app-content.bg-gray {
  background-color: #efefef;
}

@media (max-width: 991.5px) {
  .body-wrapper {
    display: block;
  }
  .body-wrapper .main-nav {
    position: fixed;
    z-index: -1;
    background-color: #36a0ce;
    width: calc(100% - 50px);
  }
  .body-wrapper #app {
    position: fixed;
    transition: right 0.2s ease;
    max-width: 100%;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.16);
  }
  .body-wrapper #app .app-container {
    border-radius: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .body-wrapper #app .app-container .app-content {
    overflow: auto;
    flex: 1;
    min-height: 0;
    border-radius: 0;
  }
  .body-wrapper #app .app-container .app-content.mobile-box-radius {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .body-wrapper #app .app-container .app-content.bg-gray {
    background-color: #fff;
  }
  .body-wrapper.nav-opened .main-nav {
    z-index: 1;
  }
  .body-wrapper.nav-opened #app {
    right: calc(100% - 50px);
  }
}
@media (max-width: 991.5px) and (max-height: 550px) {
  .body-wrapper #app .app-container {
    display: block !important;
    overflow: auto;
  }
}
.mobile-top {
  background-color: #fff;
}
.mobile-top .mobile-top-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-top .mobile-top-heading .page-mobile-heading {
  background-color: #4cbdee;
  padding: 10px 0;
}
.mobile-top .mobile-top-heading .page-mobile-heading img {
  width: 25px;
}
.mobile-top .mobile-top-heading .mobile-top-img {
  border-radius: 50%;
}
.mobile-top .mobile-top-heading .img-wrapper {
  position: relative;
  top: -1px;
  padding-top: 2px;
  background-color: #34ace0;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.mobile-top .mobile-top-heading .img-wrapper img {
  max-width: 150px;
  width: 50%;
  height: auto;
  margin-top: 75px;
}
.mobile-top .mobile-notification-bar {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #efefef;
  margin-bottom: -18px;
  padding-bottom: 25px;
  padding-top: 15px;
}
.mobile-top .mobile-notification-bar .notification-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-top .mobile-notification-bar .notification-body .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-top .mobile-notification-bar .notification-body .item img {
  width: 30px;
}

.desktop-notification-bar {
  background-color: #efefef;
  border-radius: 20px;
}
.desktop-notification-bar .notification-title {
  flex: 1;
  border-radius: 20px;
  background-color: #34ace0;
  display: flex;
  align-items: center;
  color: #fff;
  flex-direction: column;
}
.desktop-notification-bar .notification-body {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desktop-notification-bar .notification-body .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.desktop-notification-bar .notification-body .item .img-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop-notification-bar .notification-body .item .img-wrapper img {
  width: 55%;
}

.notifivation-bell-wrapper {
  position: relative;
}
.notifivation-bell-wrapper .notification-number {
  position: absolute;
  top: -2px;
  right: -1px;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  background-color: #e15b5b;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
}

a,
a:hover {
  text-decoration: none;
  color: #fff;
}

a:focus {
  text-decoration: none;
}

.btn-link {
  font-weight: 400;
  color: #202020;
}
.btn-link:hover {
  color: #202020;
  text-decoration: none;
}
.btn-link:focus, .btn-link.focus {
  text-decoration: none;
}

.notification-circle {
  width: 25px;
  height: 25px;
  background-color: #e15b5b;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.space-correction {
  font-size: 1px;
}

.mogamaa-img {
  width: 130px;
}

.max-320 {
  max-width: 320px;
}

.max-500 {
  max-width: 500px;
}

.max-600 {
  max-width: 600px;
}

.max-700 {
  max-width: 700px;
}

.max-800 {
  max-width: 800px;
}

.max-1500 {
  max-width: 1500px;
}

.min-h-150 {
  min-height: 150px;
}

.br-20 {
  border-radius: 20px !important;
}

.br-0 {
  border-radius: 0 !important;
}

.br-2 {
  border-radius: 2px !important;
}

.br-6 {
  border-radius: 6px !important;
}

.br-12 {
  border-radius: 12px !important;
}

@media (min-width: 991.5px) {
  .br-lg-20 {
    border-radius: 20px !important;
  }
}
.icon-img {
  width: 25px;
}

.icon-img-sm {
  width: 20px;
}

.h4 {
  font-size: 24px;
}

.h5 {
  font-size: 22px;
}

.h6 {
  font-size: 20px;
}

@media (max-width: 991.5px) {
  .h4,
.h5 {
    font-size: 18px;
  }

  .h6 {
    font-size: 16px;
  }
}
@media (max-width: 567.5px) {
  .h6 {
    font-size: 15px;
  }
  .h6 .icon-img {
    width: 18px;
  }
}
.overflow-visible {
  overflow: visible !important;
}

@media (min-width: 992px) {
  .h-lg-100 {
    height: 100%;
  }
}
.font-regular {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.bg-blue {
  background-color: #34ace0 !important;
}

.bg-indigolight {
  background-color: #64ced8 !important;
}

.bg-indigodark {
  background-color: #69b0cd !important;
}

.bg-purple {
  background-color: #c1a7f2 !important;
}

.bg-orange {
  background-color: #f7b898 !important;
}

.bg-gray {
  background-color: #efefef !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-none {
  background-color: transparent !important;
}

.text-blue {
  color: #34ace0;
}

.text-white {
  color: #fff !important;
}

.text-dark {
  color: #202020 !important;
}

.text-blue-dark {
  color: #4796b5 !important;
}

.text-heading {
  color: #3d3d3d;
}

@media (min-width: 991.5px) {
  .bg-lg-gray {
    background-color: #efefef !important;
  }

  .bg-lg-white {
    background-color: #fff !important;
  }

  .bg-lg-indigodark {
    background-color: #69b0cd !important;
  }

  .bg-lg-purple {
    background-color: #c1a7f2 !important;
  }

  .bg-lg-orange {
    background-color: #f7b898 !important;
  }

  .bg-lg-none {
    background-color: transparent !important;
  }
}
@media (min-width: 767.5px) {
  .bg-md-gray {
    background-color: #efefef !important;
  }

  .bg-md-white {
    background-color: #fff !important;
  }

  .bg-md-indigodark {
    background-color: #69b0cd !important;
  }

  .bg-md-purple {
    background-color: #c1a7f2 !important;
  }

  .bg-md-orange {
    background-color: #f7b898 !important;
  }

  .bg-md-none {
    background-color: transparent !important;
  }
}
.desktop-nav,
.mobile-nav {
  position: relative;
}
.desktop-nav .user-avatar,
.mobile-nav .user-avatar {
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
  flex-shrink: 0;
}
.desktop-nav .user-avatar img,
.mobile-nav .user-avatar img {
  flex-shrink: 0;
  width: 100%;
}
.desktop-nav .menu,
.mobile-nav .menu {
  width: 100%;
}
.desktop-nav .menu .nav-item,
.mobile-nav .menu .nav-item {
  width: 100%;
}
.desktop-nav .menu .nav-item .nav-link,
.mobile-nav .menu .nav-item .nav-link {
  color: #fff;
  position: relative;
  display: flex;
}
.desktop-nav .menu .nav-item .nav-link:hover,
.mobile-nav .menu .nav-item .nav-link:hover {
  color: #fff;
}
.desktop-nav .menu-footer,
.mobile-nav .menu-footer {
  width: 100%;
  color: #fff;
}
.desktop-nav .menu-footer .nav,
.mobile-nav .menu-footer .nav {
  width: 100%;
}
.desktop-nav .menu-footer .nav .nav-item,
.mobile-nav .menu-footer .nav .nav-item {
  flex: 1;
  text-align: center;
}
.desktop-nav .menu-footer .nav .nav-item .nav-link,
.mobile-nav .menu-footer .nav .nav-item .nav-link {
  padding: 0.5rem 0;
  transition: transform 0.1s ease;
}
.desktop-nav .menu-footer .nav .nav-item .nav-link:hover,
.mobile-nav .menu-footer .nav .nav-item .nav-link:hover {
  transform: scale(1.2);
}

.desktop-nav .user-avatar {
  width: 100px;
  height: 100px;
  border: 5px solid #dddddd;
  border-radius: 50%;
}
.desktop-nav .user-info {
  margin-top: -30px;
  border-radius: 14px;
  background-color: #fff;
  text-align: center;
  padding: 30px 40px;
}
.desktop-nav .user-info .user-name {
  font-weight: 700;
  font-size: 18px;
}
.desktop-nav .user-info .btn-link {
  font-size: 16px;
}
.desktop-nav .menu {
  width: 100%;
}
.desktop-nav .menu .nav-item {
  width: 100%;
}
.desktop-nav .menu .nav-item .nav-link {
  font-weight: 600;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
}
.desktop-nav .menu .nav-item .nav-link:hover {
  color: #fff;
}
.desktop-nav .menu .nav-item .nav-link .img-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: #c1a7f2;
  padding: 10px 10px;
  width: 50px;
  border-radius: 5px;
  transition: width 0.2s ease;
}
.desktop-nav .menu .nav-item .nav-link .img-wrapper img {
  width: 30px;
}
.desktop-nav .menu .nav-item .nav-link.active .img-wrapper, .desktop-nav .menu .nav-item .nav-link:hover .img-wrapper {
  width: 100%;
}
.desktop-nav .menu-footer {
  width: 100%;
  color: #fff;
}
.desktop-nav .menu-footer .nav {
  width: 100%;
}
.desktop-nav .menu-footer .nav .nav-item {
  flex: 1;
  text-align: center;
}
.desktop-nav .menu-footer .nav .nav-item .nav-link {
  padding: 0.5rem 0;
}

.mobile-nav .menu-upper {
  color: #fff;
  width: 100%;
  position: relative;
}
.mobile-nav .menu-upper a {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
}
.mobile-nav .user-avatar {
  width: 80px;
  height: 80px;
  border-radius: 20px;
}
.mobile-nav .user-info {
  color: #fff;
  text-align: center;
}
.mobile-nav .user-info .user-name {
  font-weight: 400;
  font-size: 16px;
}
.mobile-nav .menu {
  width: 100%;
}
.mobile-nav .menu .nav-item {
  width: 100%;
}
.mobile-nav .menu .nav-item .nav-link {
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 50px;
  transition: all 0.25s ease;
}
.mobile-nav .menu .nav-item .nav-link .img-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin-left: 10px;
  background-color: #fff;
  border-radius: 7px;
  padding: 4px 8px;
  transition: width 0.2s ease;
  width: 38px;
}
.mobile-nav .menu .nav-item .nav-link .img-wrapper img {
  width: 20px;
}
.mobile-nav .menu .nav-item .nav-link.active, .mobile-nav .menu .nav-item .nav-link:hover {
  color: #00608a;
}
.mobile-nav .menu .nav-item .nav-link.active .img-wrapper, .mobile-nav .menu .nav-item .nav-link:hover .img-wrapper {
  width: 100%;
}
.mobile-nav .menu .nav-item .nav-link.active svg path, .mobile-nav .menu .nav-item .nav-link:hover svg path {
  fill: #00608a;
}
.mobile-nav .menu-footer {
  border-radius: 30px;
  background-color: #fff;
  position: relative;
  padding: 18px 10px 5px 10px;
}
.mobile-nav .menu-footer .add {
  background-color: #72ccd4;
  border: 5px solid #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.mobile-nav .test {
  display: block;
  width: 100%;
  height: 310px;
  background-color: red;
}

.top-bar {
  background-color: #34ace0;
}
.top-bar .humbergur-btn {
  cursor: pointer;
}
.top-bar .humbergur-btn .bar {
  background-color: #fff;
  border-radius: 5px;
  height: 3px;
  transition: all 0.2s ease;
}
.top-bar .humbergur-btn .bar:first-of-type {
  margin-bottom: 5px;
  width: 25px;
}
.top-bar .humbergur-btn .bar:last-of-type {
  width: 17px;
}
.top-bar .humbergur-btn.nav-opened .bar:first-of-type {
  transform: translateY(4px) rotate(-45deg);
}
.top-bar .humbergur-btn.nav-opened .bar:last-of-type {
  width: 25px;
  transform: translateY(-4px) rotate(45deg);
}
.top-bar .notification-circle {
  font-size: 16px;
}

.btn {
  color: #fff;
  border-radius: 10px;
}

.btn-blue {
  background-color: #34ace0;
}
.btn-blue:hover, .btn-blue:not(:disabled):not(.disabled):active, .btn-blue:focus, .btn-blue:not(:disabled):not(.disabled):active:focus {
  background-color: #30a3d4;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: #fff;
}

.btn-red {
  background-color: #e15b5b;
}
.btn-red:hover, .btn-red:not(:disabled):not(.disabled):active, .btn-red:focus, .btn-red:not(:disabled):not(.disabled):active:focus {
  background-color: #c94d4d;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: #fff;
}

.btn-indigodark {
  background-color: #69b0cd;
}
.btn-indigodark:hover, .btn-indigodark:not(:disabled):not(.disabled):active, .btn-indigodark:focus, .btn-indigodark:not(:disabled):not(.disabled):active:focus {
  background-color: #61a3bd;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: #fff;
}

.btn-indigolight {
  background-color: #64ced8;
}
.btn-indigolight:hover, .btn-indigolight:not(:disabled):not(.disabled):active, .btn-indigolight:focus, .btn-indigolight:not(:disabled):not(.disabled):active:focus {
  background-color: #63cad3;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: #fff;
}

.btn-orange {
  background-color: #f7b898;
}
.btn-orange:hover, .btn-orange:not(:disabled):not(.disabled):active, .btn-orange:focus, .btn-orange:not(:disabled):not(.disabled):active:focus {
  background-color: #eeb294;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: #fff;
}

.btn-purple {
  background-color: #c1a7f2;
}
.btn-purple:hover, .btn-purple:not(:disabled):not(.disabled):active, .btn-purple:focus, .btn-purple:not(:disabled):not(.disabled):active:focus {
  background-color: #b59ce2;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: #fff;
}

.btn-square {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  border-radius: 8px;
  position: relative;
  font-size: 18px;
}
.btn-square .link-icon {
  position: absolute;
  right: 10%;
  width: 25px;
}
.btn-square img {
  width: 30px;
}

@media (max-width: 991.5px) {
  .btn-square {
    width: 100%;
    padding: 25px 20% 25px 10px;
  }
}
.card-link {
  border-radius: 20px;
  transition: transform 0.2s ease;
}
.card-link .card-title {
  font-size: 18px;
}
.card-link .img-wrapper {
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.card-link .img-wrapper img {
  width: 100%;
}
.card-link .img-wrapper.img-square {
  border-radius: 20px;
  width: 100px;
  height: 100px;
}
.card-link:hover {
  transform: scale(0.95);
}

@media (max-width: 767.5px) {
  .card-link .card-title {
    font-size: 15px;
  }
  .card-link .img-wrapper {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 400px) {
  .card-link .img-wrapper {
    width: 50px;
    height: 50px;
  }
}
#splash-screen {
  background-image: linear-gradient(to bottom, rgba(52, 172, 224, 0.85), rgba(52, 172, 224, 0.85)), url("../imgs/jpg/splash-screen-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s ease;
}
#splash-screen .img-wrapper {
  width: 50%;
  max-width: 200px;
}
#splash-screen .img-wrapper img {
  width: 100%;
}
#splash-screen p {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 991.5px) {
  #splash-screen.open {
    visibility: visible;
    opacity: 1;
  }
}
.home-info-left {
  border-radius: 20px;
  background-color: #fff;
  transition: transform 0.2s ease;
}
.home-info-left .btn-link {
  color: #3697be;
}
.home-info-left .btn-link:hover {
  color: #3697be;
}
.home-info-left:hover {
  transform: scale(0.95);
}

.subtitle {
  color: #3697be;
}

.home-right .btn-square {
  min-height: 140px;
}

.map-section .nav-wrapper {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: -18px;
}
.map-section .nav-tabs {
  flex-wrap: nowrap;
  border-bottom: 0;
}
.map-section .nav-tabs .nav-item {
  min-height: 70px;
  display: flex;
  align-items: flex-end;
  margin-left: 5px;
}
.map-section .nav-tabs .nav-item .nav-link {
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
  border-width: 0;
  height: 90%;
  flex: 1;
  transition: height 0.2s ease;
  display: flex;
  justify-content: center;
  min-width: 200px;
  white-space: nowrap;
}
.map-section .nav-tabs .nav-item .nav-link.active, .map-section .nav-tabs .nav-item .nav-link:hover {
  color: #fff;
  height: 100%;
}
.map-section .map-wrapper {
  border-radius: 20px;
  border-top-right-radius: 0;
  position: relative;
  z-index: 1;
}
.map-section .map-wrapper img {
  width: 100%;
  border-radius: 20px;
}
.map-section .map-wrapper .pin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease;
  width: 30px;
}
.map-section .map-wrapper .pin svg {
  width: 100%;
}
.map-section .map-wrapper .pin:hover, .map-section .map-wrapper .pin.active {
  transform: translate(-50%, -50%) scale(1.15);
}

.pin-tooltip.show {
  opacity: 1;
}
.pin-tooltip .tooltip-inner {
  font-family: "Cairo", sans-serif;
  font-size: 16px;
  text-align: right;
  min-width: 300px;
  padding: 15px;
  color: #202020;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.16);
}
.pin-tooltip .tooltip-inner img {
  width: 15px;
}

.about-dr-img {
  width: 100%;
  max-width: 250px;
}

.about-address .location-link {
  background-color: #e3e3e3;
  border-radius: 15px;
  padding: 25px;
  width: 30%;
  display: flex;
  align-items: center;
  color: #202020;
  transition: all 0.25s ease;
  justify-content: space-between;
  height: 100%;
}
.about-address .location-link .img-wrapper {
  border-radius: 15px;
  padding: 15px 25px;
  margin: 0 5px;
}
.about-address .location-link .img-wrapper img {
  width: 30px;
}
.about-address .location-link:hover {
  transform: scale(1.05);
}

.about-img-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}
.about-img-grid .img-wrapper {
  border-radius: 5px;
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  background-color: #dfdfdf;
}
.about-img-grid .img-wrapper .about-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #dfdfdf;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.2s ease;
}
.about-img-grid .img-wrapper:hover .about-img {
  transform: scale(1.2);
}

@media (max-width: 1199.5px) {
  .about-address .location-link {
    width: 40%;
  }
}
@media (max-width: 991.5px) {
  .about-address {
    border-radius: 6px;
    background-color: #f0f0f0 !important;
    font-size: 14px;
  }
  .about-address p {
    flex: 2;
  }
  .about-address .location-link {
    padding: 10px;
    flex: 1.7;
  }
  .about-address .location-link .img-wrapper {
    border-radius: 6px;
    padding: 10px 10px;
    margin: 0 5px;
  }
  .about-address .location-link .img-wrapper img {
    width: 25px;
  }

  .about-img-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 575.5px) {
  .about-address {
    font-size: 12px;
  }
  .about-address .location-link {
    padding: 10px 5px;
    flex: 2;
  }
  .about-address .location-link .img-wrapper {
    border-radius: 6px;
    padding: 8px 8px;
    margin: 0 5px;
  }
}
.registeration-page {
  background-image: linear-gradient(to bottom, rgba(52, 172, 224, 0.85), rgba(52, 172, 224, 0.85)), url("../imgs/jpg/register-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 991.5px) {
  .registeration-page h1 {
    font-size: 1.5rem;
  }
}
.modal.fade .modal-dialog {
  transition: -webkit-transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.modal .close {
  position: absolute;
  background-color: #59b6bf;
  border-radius: 50%;
  top: 22px;
  right: 22px;
  opacity: 1;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
}
.modal .close img {
  width: 21px;
}
.modal .close:not(:disabled):not(.disabled):focus, .modal .close:not(:disabled):not(.disabled):hover {
  opacity: 1;
  transform: scale(0.9);
  outline: none;
}
.modal .modal-content {
  border-width: 0;
}
.modal .modal-content.bg-indigolight .close {
  background-color: #59b6bf;
}
.modal .modal-content.bg-indigolight .form-check-label:hover {
  background-color: #59b6bf;
}
.modal .modal-content.bg-indigolight .form-check-label.radio-active {
  background-color: #59b6bf;
}
.modal .modal-content.bg-indigolight .form-check-label.radio-active:hover {
  background-color: #59b6bf;
}
.modal .modal-content.bg-orange .close {
  background-color: #dca589;
}
.modal .modal-content.bg-orange .form-check-label:hover {
  background-color: #dca589;
}
.modal .modal-content.bg-orange .form-check-label.radio-active {
  background-color: #dca589;
}
.modal .modal-content.bg-orange .form-check-label.radio-active:hover {
  background-color: #dca589;
}
.modal .modal-content-transparent {
  border-radius: 35px;
  background-color: transparent;
}
.modal .standard-modal-content {
  border-radius: 36px;
}
.modal .standard-modal-content h4 {
  font-size: 25px;
}
.modal .standard-modal-content .radio-wrapper {
  width: 100%;
}
.modal .standard-modal-content .radio-wrapper .form-check-label {
  width: 100%;
}
.modal .standard-modal-content .success-icon {
  width: 75px;
}

.modal-backdrop.darkblue {
  background-color: #002638;
}
.modal-backdrop.darkblue.show {
  opacity: 0.75;
}

@media (max-width: 991.5px) {
  .modal .close {
    width: 35px;
    height: 35px;
  }
  .modal .standard-modal-content {
    border-radius: 20px;
  }
  .modal .standard-modal-content h4 {
    font-size: 20px;
  }
  .modal .standard-modal-content h3 {
    font-size: 24px;
  }
}
@media (max-width: 400px) {
  .modal .close {
    width: 25px;
    height: 25px;
  }
  .modal .close img {
    width: 15px;
  }
  .modal .standard-modal-content h4 {
    font-size: 16px;
  }
}
.reservation-card {
  background-color: #f3f3f3;
  border-radius: 15px;
  color: #202020;
  font-weight: 600;
  position: relative;
  transition: transform 0.2s ease;
}
.reservation-card:hover {
  transform: scale(0.98);
}
.reservation-card .btn {
  border-radius: 8px;
}
.reservation-card p {
  display: flex;
  align-items: center;
}
.reservation-card .reservation-state {
  position: static;
}
.reservation-card .reservation-state .reservation-state-indicator {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0 0 8px;
}
.reservation-card .reservation-state .state-yellow {
  background-color: #e49e40;
}
.reservation-card .reservation-state .state-green {
  background-color: #72b340;
}
.reservation-card .reservation-state .state-gray {
  background-color: #666666;
}
.reservation-card .reservation-state .state-blue {
  background-color: #34ace0;
}
.reservation-card .reservation-state .state-red {
  background-color: #e95555;
}

@media (max-width: 991.5px) {
  .reservation-card:hover {
    transform: scale(0.95);
  }
  .reservation-card p {
    width: 100%;
  }
  .reservation-card .reservation-state {
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
  }
  .reservation-card .reservation-state p {
    width: auto;
  }
}
@media (max-width: 575.5px) {
  .reservation-card {
    font-size: 14px;
  }
  .reservation-card img {
    width: 20px;
  }
  .reservation-card p {
    width: 100%;
  }
  .reservation-card .reservation-state {
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
  }
  .reservation-card .reservation-state p {
    width: auto;
  }
}
@media (min-width: 991.5px) and (max-width: 1200px) {
  .reservation-card {
    font-size: 14px;
  }
  .reservation-card img {
    width: 20px;
  }
}
.reservation-swiper {
  padding-bottom: 80px;
}
.reservation-swiper .swiper-slide {
  padding: 0 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
}
.reservation-swiper .swiper-slide .btn {
  border-radius: 6px;
  margin-top: -20px;
}
.reservation-swiper .swiper-slide:hover {
  transform: scale(0.95);
}
.reservation-swiper .slide-body {
  width: 100%;
  border-radius: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0 35px 0;
}
.reservation-swiper .slide-body p {
  margin: 5px 0;
}
.reservation-swiper .slide-body p.title {
  font-size: 20px;
}
.reservation-swiper .slide-body hr {
  background-color: rgba(255, 255, 255, 0.35);
  display: block;
  height: 1px;
  width: 100%;
  margin: 5px 0;
}
.reservation-swiper.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 30px;
}
.reservation-swiper .swiper-pagination-bullet {
  opacity: 1;
  background-color: #69b0cd;
  width: 20px;
  height: 20px;
}
.reservation-swiper .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  background-color: #c1a7f2;
}

@media (max-width: 991.5px) {
  .reservation-swiper .swiper-slide {
    width: 25% !important;
  }
}
@media (max-width: 767.5px) {
  .reservation-swiper .swiper-slide {
    width: 30% !important;
  }
}
@media (max-width: 576.5px) {
  .reservation-swiper .swiper-slide {
    width: 40% !important;
  }
}
@media (max-width: 450.5px) {
  .reservation-swiper .swiper-slide {
    width: 43% !important;
  }
}
@media (max-width: 355.5px) {
  .reservation-swiper .swiper-slide {
    width: 70% !important;
  }
}
.side-popup {
  background-color: #006e9e;
  color: #fff;
  position: fixed;
  width: 500px;
  transition: top 0.3s ease, left 0.3s ease, opacity 0.3s ease;
  flex-shrink: 0;
  top: 0;
  left: -500px;
  height: 100%;
  overflow-y: auto;
  opacity: 0;
  font-size: 18px;
  padding-bottom: 25px;
  font-weight: 400;
  z-index: 1000;
}
.side-popup.show {
  left: 0;
  opacity: 0.95;
}
.side-popup .close-popup {
  float: left;
  padding: 25px;
}
.side-popup h5 {
  font-size: 24px;
  font-weight: 600;
}
.side-popup h6 {
  font-size: 18px;
}
.side-popup .btn {
  font-size: 20px;
}
.side-popup .popup-top {
  padding: 25px 25px 0 25px;
}
.side-popup .popup-body {
  padding: 0 25px 0 25px;
}

@media (max-width: 767.5px) {
  .side-popup {
    background-color: transparent;
    color: #202020;
    left: 0;
    top: 100%;
    width: 100%;
    opacity: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    font-size: 15px;
  }
  .side-popup.show {
    top: 108px;
    height: calc(100% - 108px);
    opacity: 1;
  }
  .side-popup h5 {
    font-size: 18px;
  }
  .side-popup h6 {
    font-size: 15px;
  }
  .side-popup .btn {
    font-size: 18px;
  }
  .side-popup .price-total {
    background-color: #efefef !important;
  }
  .side-popup .btn.btn-indigolight {
    background-color: #69b0cd !important;
  }
  .side-popup .popup-top {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: #fff;
    margin-bottom: -33px;
    padding-bottom: 49px !important;
    position: relative;
  }
  .side-popup .popup-body {
    flex: 1;
    padding: 25px;
    overflow: auto;
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
  }
  .side-popup .close-popup {
    position: absolute;
    top: 9px;
    right: 18px;
    padding: 3px;
  }
  .side-popup .close-popup img {
    width: 19px;
  }
  .side-popup .form-group label {
    color: #202020;
  }
  .side-popup .form-group textarea.form-control {
    border: 1px solid #cccccc;
  }
}
.attachments-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}
.attachments-grid .img-wrapper {
  border-radius: 5px;
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  background-color: #dfdfdf;
}
.attachments-grid .img-wrapper .attachment-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #dfdfdf;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.2s ease;
}
.attachments-grid .img-wrapper:hover .attachment-img {
  transform: scale(1.2);
}
.attachments-grid .img-title {
  font-size: 20px;
}

@media (max-width: 1199.5px) {
  .attachments-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 991.5px) {
  .attachments-grid .img-title {
    font-size: 18px;
  }
}
@media (max-width: 767.5px) {
  .attachments-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575.5px) {
  .attachments-grid .img-title {
    font-size: 14px;
  }
}
.reservation-details-content {
  overflow: hidden;
  display: flex;
}
.reservation-details-content .tab-pane {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.reservation-details-content.overflow-visible .tab-pane {
  overflow: visible;
}
.reservation-details-content ul.prescription {
  list-style: none;
}
.reservation-details-content ul.prescription li {
  padding: 15px;
  border-bottom: 1px solid #dfdfdf;
}
.reservation-details-content ul.prescription li img {
  height: 20px;
}
.reservation-details-content ul.prescription li:last-of-type {
  border-bottom-width: 0;
}

.video-iframe {
  width: 100%;
  height: 450px;
}

@media (max-width: 787.5px) {
  .video-iframe {
    height: 400px;
  }
}
@media (max-width: 575.5px) {
  .video-iframe {
    height: 250px;
  }
}
@media (max-width: 380.5px) {
  .video-iframe {
    height: 200px;
  }
}
label {
  color: #202020;
}

.custom-switch {
  display: flex;
}
.custom-switch.custom-switch-box {
  padding-left: 2rem;
}
.custom-switch.custom-switch-box .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #fff;
}
.custom-switch.custom-switch-box .custom-control-input:checked ~ .custom-control-label::after {
  background-color: transparent;
  background-image: url("../imgs/svg/switch-box.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  transform: scale(1);
}
.custom-switch.custom-switch-box .custom-control-label {
  cursor: pointer;
}
.custom-switch.custom-switch-box .custom-control-label::before {
  left: -1.75rem;
  width: 1.2rem;
  pointer-events: all;
  border-radius: 2px;
  position: absolute;
  top: 0.2rem;
  display: block;
  height: 1.2rem;
  background-color: #fff !important;
  border: 1.5px solid #d2d2d2 !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}
.custom-switch.custom-switch-box .custom-control-label::after {
  background-color: transparent;
  top: 0.2rem;
  left: -1.75rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 5px;
  transform: scale(0.1);
}
.custom-switch.custom-switch-box .custom-control-label:focus::before {
  background-color: red;
}
.custom-switch.custom-switch-box {
  padding-right: 2rem;
}
.custom-switch.custom-switch-box .custom-control-label::before {
  right: -1.75rem;
}
.custom-switch.custom-switch-box .custom-control-label::after {
  right: -1.75rem;
}

.form-check-label {
  background-color: #fff;
  padding: 5px;
  text-align: center;
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
}
.form-check-label input[type=radio] {
  display: none;
}
.form-check-label:hover {
  color: #fff;
}
.form-check-label.radio-active {
  color: #fff;
}

.form-group label {
  font-weight: 600;
  color: #fff;
}
.form-group label.label-lg {
  font-size: 1.3rem;
}
.form-group .form-control {
  color: #202020;
  border-radius: 10px;
  height: calc(1.5em + 0.75rem + 12px);
  border: 0;
}
.form-group .form-control:focus {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.form-group .form-control.border {
  border: 1px solid #cccccc !important;
}
.form-group textarea.form-control {
  height: auto;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  max-width: 80%;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  color: #fff !important;
  border-radius: 5px;
}
.inputfile + label.inputfile-orange {
  background-color: #f7b898;
}
.inputfile + label.inputfile-orange:hover {
  background-color: #dca589;
}
.inputfile + label.inputfile-purple {
  background-color: #c1a7f2;
}
.inputfile + label.inputfile-purple:hover {
  background-color: #ab93d8;
}
.inputfile:focus + label.bg-orange:hover, .inputfile.has-focus + label.bg-orange:hover {
  background-color: #dca589;
}
.inputfile:focus + label.bg-purple:hover, .inputfile.has-focus + label.bg-purple:hover {
  background-color: #ab93d8;
}

.tabs-wrapper {
  width: 100%;
  overflow: auto;
  padding-bottom: 30px;
}
.tabs-wrapper .nav-tabs {
  flex-wrap: nowrap;
  border-bottom: 0;
}
.tabs-wrapper .nav-tabs .nav-item {
  margin: 0 10px;
}
.tabs-wrapper .nav-tabs .nav-item .nav-link {
  min-width: 130px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  border-width: 0;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs-wrapper .nav-tabs .nav-item .nav-link.active {
  position: relative;
}
.tabs-wrapper .nav-tabs .nav-item .nav-link.active::after {
  content: "";
  display: block;
  position: absolute;
  top: 99%;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 22px solid transparent;
}
.tabs-wrapper .nav-tabs .nav-item .nav-link.active.bg-purple::after {
  border-top-color: #c1a7f2;
}
.tabs-wrapper .nav-tabs .nav-item .nav-link.active.bg-orange::after {
  border-top-color: #f7b898;
}
.tabs-wrapper .nav-tabs .nav-item .nav-link.active.bg-indigolight::after {
  border-top-color: #64ced8;
}
.tabs-wrapper .nav-tabs .nav-item .nav-link.active.bg-indigodark::after {
  border-top-color: #69b0cd;
}
.tabs-wrapper.reservation-details-tabs, .tabs-wrapper.awarness-tabs {
  overflow: visible;
  padding-bottom: 15px;
}
.tabs-wrapper.reservation-details-tabs .nav-tabs, .tabs-wrapper.awarness-tabs .nav-tabs {
  background-color: #fff;
  border-radius: 20px;
  padding: 0 25px;
}
.tabs-wrapper.reservation-details-tabs .nav-tabs .nav-item, .tabs-wrapper.awarness-tabs .nav-tabs .nav-item {
  margin: 0 2px;
  flex: 1;
  display: flex;
  justify-content: center;
  font-weight: 700;
}
.tabs-wrapper.reservation-details-tabs .nav-tabs .nav-item .nav-link, .tabs-wrapper.awarness-tabs .nav-tabs .nav-item .nav-link {
  min-width: 0;
  color: #202020;
  font-size: 20px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 0;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tabs-wrapper.reservation-details-tabs .nav-tabs .nav-item .nav-link.active, .tabs-wrapper.awarness-tabs .nav-tabs .nav-item .nav-link.active {
  color: #fff;
}
.tabs-wrapper.reservation-details-tabs .nav-tabs .nav-item .nav-link.active::after, .tabs-wrapper.awarness-tabs .nav-tabs .nav-item .nav-link.active::after {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 17px solid transparent;
}
.tabs-wrapper.reservation-details-tabs .nav-tabs .nav-item .nav-link .notification-circle, .tabs-wrapper.awarness-tabs .nav-tabs .nav-item .nav-link .notification-circle {
  position: absolute;
  top: -12px;
  left: 0;
}
.tabs-wrapper.reservation-details-tabs .nav-tabs .nav-item:first-of-type, .tabs-wrapper.awarness-tabs .nav-tabs .nav-item:first-of-type {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.tabs-wrapper.reservation-details-tabs .nav-tabs .nav-item:last-of-type, .tabs-wrapper.awarness-tabs .nav-tabs .nav-item:last-of-type {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.tabs-wrapper.reservation-details-tabs .nav-tabs.nav-tabs-purple .nav-item .nav-link.active, .tabs-wrapper.awarness-tabs .nav-tabs.nav-tabs-purple .nav-item .nav-link.active {
  background-color: #c1a7f2;
}
.tabs-wrapper.reservation-details-tabs .nav-tabs.nav-tabs-purple .nav-item .nav-link.active::after, .tabs-wrapper.awarness-tabs .nav-tabs.nav-tabs-purple .nav-item .nav-link.active::after {
  border-top-color: #c1a7f2;
}
.tabs-wrapper.reservation-details-tabs .nav-tabs.nav-tabs-indigolight .nav-item .nav-link.active, .tabs-wrapper.awarness-tabs .nav-tabs.nav-tabs-indigolight .nav-item .nav-link.active {
  background-color: #64ced8;
}
.tabs-wrapper.reservation-details-tabs .nav-tabs.nav-tabs-indigolight .nav-item .nav-link.active::after, .tabs-wrapper.awarness-tabs .nav-tabs.nav-tabs-indigolight .nav-item .nav-link.active::after {
  border-top-color: #64ced8;
}
.tabs-wrapper.reservation-details-tabs .nav-tabs.nav-tabs-indigodark .nav-item .nav-link.active, .tabs-wrapper.awarness-tabs .nav-tabs.nav-tabs-indigodark .nav-item .nav-link.active {
  background-color: #69b0cd;
}
.tabs-wrapper.reservation-details-tabs .nav-tabs.nav-tabs-indigodark .nav-item .nav-link.active::after, .tabs-wrapper.awarness-tabs .nav-tabs.nav-tabs-indigodark .nav-item .nav-link.active::after {
  border-top-color: #69b0cd;
}
.tabs-wrapper.reservation-details-tabs .nav-tabs.nav-tabs-orange .nav-item .nav-link.active, .tabs-wrapper.awarness-tabs .nav-tabs.nav-tabs-orange .nav-item .nav-link.active {
  background-color: #f7b898;
}
.tabs-wrapper.reservation-details-tabs .nav-tabs.nav-tabs-orange .nav-item .nav-link.active::after, .tabs-wrapper.awarness-tabs .nav-tabs.nav-tabs-orange .nav-item .nav-link.active::after {
  border-top-color: #f7b898;
}
.tabs-wrapper.awarness-tabs .nav-tabs .nav-item {
  flex: 0;
  margin: 0 10px;
}
.tabs-wrapper.awarness-tabs .nav-tabs .nav-item .nav-link {
  white-space: nowrap;
}

@media (max-width: 991.5px) {
  .tabs-wrapper .nav-tabs .nav-item {
    margin: 0 8px;
  }
  .tabs-wrapper .nav-tabs .nav-item .nav-link {
    min-width: 100px;
    font-size: 16px;
    padding: 15px;
  }
  .tabs-wrapper.reservation-details-tabs .nav-tabs, .tabs-wrapper.awarness-tabs .nav-tabs {
    background-color: #efefef;
    border-radius: 12px;
  }
  .tabs-wrapper.reservation-details-tabs .nav-tabs .nav-item .nav-link, .tabs-wrapper.awarness-tabs .nav-tabs .nav-item .nav-link {
    padding: 10px 10px;
    font-size: 16px;
  }
  .tabs-wrapper.reservation-details-tabs .nav-tabs .nav-item .nav-link.active::after, .tabs-wrapper.awarness-tabs .nav-tabs .nav-item .nav-link.active::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid transparent;
  }
}
@media (max-width: 767.5px) {
  .tabs-wrapper.awarness-tabs .nav-tabs .nav-item {
    flex: 1;
    margin: 0 2px;
  }
  .tabs-wrapper.awarness-tabs .nav-tabs .nav-item .nav-link {
    padding: 10px 15px;
  }
}
@media (max-width: 575.5px) {
  .tabs-wrapper .nav-tabs .nav-item .nav-link {
    min-height: 80px;
  }
  .tabs-wrapper.reservation-details-tabs .nav-tabs .nav-item .nav-link {
    padding: 10px 5px;
    font-size: 14px;
    font-weight: 600;
  }
  .tabs-wrapper.reservation-details-tabs .nav-tabs .nav-item .nav-link .notification-circle {
    width: 20px;
    height: 20px;
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .tabs-wrapper.reservation-details-tabs .nav-tabs, .tabs-wrapper.awarness-tabs .nav-tabs {
    padding: 0 20px;
  }
  .tabs-wrapper.reservation-details-tabs .nav-tabs .nav-item .nav-link, .tabs-wrapper.awarness-tabs .nav-tabs .nav-item .nav-link {
    padding: 10px 5px;
    font-size: 13px;
  }
}
.awareness-card {
  color: #202020;
  transition: transform 0.2s ease;
}
.awareness-card .img-wrapper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
}
.awareness-card .img-wrapper img {
  width: 100%;
  height: auto;
}
.awareness-card .img-wrapper .play-btn {
  width: 40px;
  height: 40px;
  background-color: rgba(237, 59, 59, 0.86);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 0.2s ease;
}
.awareness-card .img-wrapper .play-btn::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 12px solid #fff;
  top: 50%;
  left: 50%;
  transform: translate(-32%, -50%);
}
.awareness-card .card-content {
  flex: 1;
}
.awareness-card .card-content {
  font-weight: 600;
}
.awareness-card:hover {
  color: #202020;
  transform: scale(0.95);
}

.empty-img {
  width: 50px;
}

@media (max-width: 991.5px) {
  .awareness-card .img-wrapper {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 575.5px) {
  .awareness-card .img-wrapper {
    width: 70px;
    height: 70px;
  }
  .awareness-card .card-content {
    font-size: 15px;
  }

  .empty-img {
    width: 30px;
  }
}
@media (max-width: 400.5px) {
  .awareness-card .img-wrapper {
    width: 60px;
    height: 60px;
  }
  .awareness-card .card-content {
    font-size: 14px;
  }
}
#article-main-swiper .swiper-slide {
  width: 100%;
  background-position: center;
  background-size: cover;
}
#article-main-swiper .swiper-slide img {
  width: 100%;
}

#article-thumb-swiper .swiper-slide {
  width: 100%;
  padding-top: 10%;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  opacity: 0.6;
}
#article-thumb-swiper .swiper-slide-thumb-active {
  opacity: 1;
}

.chat-outer-container {
  position: relative;
  min-height: 250px;
}
.chat-outer-container.min-h-500 {
  min-height: 500px;
}

.chat-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.chat-container .chat-body {
  flex: 1;
  background-color: transparent;
  padding: 16px;
  overflow-y: auto;
}
.chat-container .chat-body .msg-item {
  display: flex;
  flex-direction: row;
}
.chat-container .chat-body .msg-item .msg-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 170px);
}
.chat-container .chat-body .msg-item .msg-content .sender-name {
  margin-bottom: 5px;
  font-weight: 600;
}
.chat-container .chat-body .msg-item .msg-content .msg-text {
  color: #fff;
  margin-bottom: 5px;
}
.chat-container .chat-body .msg-item .msg-content .msg-text p,
.chat-container .chat-body .msg-item .msg-content .msg-text .attachment-link {
  margin: 20px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}
.chat-container .chat-body .msg-item .msg-content .msg-text .chat-attachment-img {
  display: block;
  border-radius: 20px;
  margin: 8px;
  overflow: hidden;
  max-width: 400px;
  max-height: 600px;
}
.chat-container .chat-body .msg-item .msg-content .msg-text .chat-attachment-img img {
  width: 100%;
}
.chat-container .chat-body .msg-item .msg-content .msg-text .chat-attachment-img + p {
  margin: 8px;
  max-width: 400px;
}
.chat-container .chat-body .msg-item .msg-content .msg-text .attachment-link {
  text-decoration: underline;
}
.chat-container .chat-body .msg-item .msg-content .msg-text .attachment-link:hover {
  text-decoration: underline;
}
.chat-container .chat-body .msg-item .msg-content .msg-info {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
.chat-container .chat-body .msg-item .msg-content .msg-info .msg-date,
.chat-container .chat-body .msg-item .msg-content .msg-info .msg-time {
  margin: 0 5px 0 5px;
}
.chat-container .chat-body .msg-item .msg-content .msg-info .msg-date {
  order: 1;
}
.chat-container .chat-body .msg-item .msg-content .msg-info .msg-time {
  order: 0;
}
.chat-container .chat-body .incoming-msg {
  padding: 10px 0;
}
.chat-container .chat-body .incoming-msg .msg-item {
  justify-content: flex-end;
}
.chat-container .chat-body .incoming-msg .msg-item:first-of-type .msg-content .msg-text {
  border-radius: 0 20px 20px 20px;
}
.chat-container .chat-body .incoming-msg .msg-item:first-of-type .msg-content .msg-text .chat-attachment-img {
  border-radius: 0 20px 20px 20px;
}
.chat-container .chat-body .incoming-msg .sender-img {
  order: 1;
  margin-right: 15px;
}
.chat-container .chat-body .incoming-msg .msg-content {
  order: 0;
  align-items: flex-end;
}
.chat-container .chat-body .incoming-msg .msg-content .msg-text {
  background-color: #69b0cd;
  border-radius: 20px;
}
.chat-container .chat-body .incoming-msg .msg-content .msg-info {
  justify-content: flex-end;
}
.chat-container .chat-body .outgoing-msg {
  padding: 10px 0;
}
.chat-container .chat-body .outgoing-msg .msg-item {
  justify-content: flex-start;
}
.chat-container .chat-body .outgoing-msg .msg-item:first-of-type .msg-content .msg-text {
  border-radius: 20px 0 20px 20px;
}
.chat-container .chat-body .outgoing-msg .msg-item:first-of-type .msg-content .msg-text .chat-attachment-img {
  border-radius: 20px 0 20px 20px;
}
.chat-container .chat-body .outgoing-msg .sender-img {
  order: 0;
  margin-left: 15px;
}
.chat-container .chat-body .outgoing-msg .msg-content {
  order: 1;
  align-items: flex-start;
}
.chat-container .chat-body .outgoing-msg .msg-content .msg-text {
  background-color: #c1a7f2;
  border-radius: 20px;
}
.chat-container .chat-body .outgoing-msg .msg-content .msg-info {
  justify-content: flex-start;
}
.chat-container .chat-body .msg-item {
  margin-bottom: 10px;
}
.chat-container .chat-body .msg-item:first-of-type .sender-img {
  opacity: 1;
}
.chat-container .chat-body .sender-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
}
.chat-container .chat-body .sender-img img {
  width: 100%;
}
.chat-container .chat-footer {
  padding: 16px;
  position: relative;
}
.chat-container .chat-footer .chat-footer-bar {
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  background-color: #e5e5e5;
  z-index: 2;
  position: relative;
}
.chat-container .chat-footer .chat-footer-bar .chat-textarea {
  background-color: #e5e5e5;
  resize: none;
  border: 0;
  border-radius: 0;
  color: #202020;
  font-size: 16px;
  line-height: 25px;
  max-height: 100px;
}
.chat-container .chat-footer .chat-footer-bar .chat-textarea::-webkit-input-placeholder {
  color: #303030;
}
.chat-container .chat-footer .chat-footer-bar .chat-textarea::-ms-input-placeholder {
  color: #303030;
}
.chat-container .chat-footer .chat-footer-bar .chat-textarea::placeholder {
  color: #303030;
}
.chat-container .chat-footer .chat-footer-bar .chat-textarea:focus {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border-width: 0;
  outline: none;
}
.chat-container .chat-footer .chat-footer-bar .btn {
  background-color: #848484;
  flex-shrink: 0;
  border-radius: 0;
  border: 0;
  outline: 0;
  margin-bottom: 0;
}
.chat-container .chat-footer .chat-footer-bar .btn:focus, .chat-container .chat-footer .chat-footer-bar .btn.focus, .chat-container .chat-footer .chat-footer-bar .btn:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border: 0;
  outline: 0;
}
.chat-container .chat-footer .chat-footer-bar .btn img {
  width: 15px;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}
.chat-container .chat-footer .chat-footer-bar .btn.send-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #69b0cd;
}
.chat-container .chat-footer .chat-footer-bar .btn.attachment-btn {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.chat-container .chat-footer .attachments-menu {
  position: absolute;
  background-color: #69b0cd;
  border-radius: 20px;
  padding: 10px 10px 10px 25px;
  bottom: 100%;
  left: 0;
  width: calc(100% - 32px);
  margin: 0 16px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s ease, opacity 0.2s ease;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-height: 300px;
  overflow: auto;
}
.chat-container .chat-footer .attachments-menu .attachments-menu-inner {
  display: flex;
  flex-wrap: wrap;
}
.chat-container .chat-footer .attachments-menu .close-btn {
  padding: 5px;
  position: absolute;
  top: 3px;
  left: 9px;
}
.chat-container .chat-footer .attachments-menu .close-btn img {
  width: 15px;
}
.chat-container .chat-footer .attachments-menu.show {
  visibility: visible;
  opacity: 1;
}
.chat-container .chat-footer .attachments-menu .img-wrapper,
.chat-container .chat-footer .attachments-menu .file-name {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px;
}
.chat-container .chat-footer .attachments-menu .file-name {
  background-color: #c1a7f2;
  width: auto;
  color: #fff;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-container .chat-footer .attachments-menu .file-name p {
  margin-bottom: 0;
}

@media (max-width: 767.5px) {
  .chat-container .chat-body {
    padding: 15px;
  }
  .chat-container .chat-body .msg-item .msg-content {
    max-width: calc(100% - 120px);
  }
  .chat-container .chat-body .msg-item .msg-content .sender-name {
    display: block;
  }
  .chat-container .chat-body .msg-item .msg-content .msg-text p,
.chat-container .chat-body .msg-item .msg-content .msg-text .attachment-link {
    margin: 10px;
    font-size: 14px;
    line-height: 25px;
  }
  .chat-container .chat-body .msg-item .msg-content .msg-text .chat-attachment-img {
    border-radius: 12px;
    margin: 5px;
  }
  .chat-container .chat-body .msg-item .msg-content .msg-info {
    font-size: 12px;
  }
  .chat-container .chat-body .incoming-msg .msg-item:first-of-type .msg-content .msg-text {
    border-radius: 0 12px 12px 12px;
  }
  .chat-container .chat-body .incoming-msg .msg-item:first-of-type .msg-content .msg-text .chat-attachment-img {
    border-radius: 0 12px 12px 12px;
  }
  .chat-container .chat-body .incoming-msg .sender-img {
    margin-right: 10px;
  }
  .chat-container .chat-body .incoming-msg .msg-content .msg-text {
    border-radius: 12px;
  }
  .chat-container .chat-body .outgoing-msg .msg-item:first-of-type .msg-content .msg-text {
    border-radius: 12px 0 12px 12px;
  }
  .chat-container .chat-body .outgoing-msg .msg-item:first-of-type .msg-content .msg-text .chat-attachment-img {
    border-radius: 12px 0 12px 12px;
  }
  .chat-container .chat-body .outgoing-msg .sender-img {
    margin-left: 10px;
  }
  .chat-container .chat-body .outgoing-msg .msg-content .msg-text {
    border-radius: 12px;
  }
  .chat-container .chat-body .sender-img {
    display: none;
    width: 50px;
    height: 50px;
  }
  .chat-container .chat-footer {
    padding: 10px;
  }
  .chat-container .chat-footer .chat-footer-bar .chat-textarea {
    font-size: 14px;
  }
  .chat-container .chat-footer .chat-footer-bar .btn {
    padding: 0.375rem 0.6rem;
  }
  .chat-container .chat-footer .chat-footer-bar .btn img {
    width: 12px;
  }
}
@media (max-width: 575.5px) {
  .chat-container .chat-body .msg-item .msg-content {
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
