.about-dr-img {
    width: 100%;
    max-width: 250px;
}

.about-address {
    .location-link {
        background-color: #e3e3e3;
        border-radius: 15px;
        padding: 25px;
        width: 30%;
        display: flex;
        align-items: center;
        color: $textDark;
        transition: $defaultTransition;
        justify-content: space-between;
        height: 100%;
        .img-wrapper {
            border-radius: 15px;
            padding: 15px 25px;
            margin: 0 5px;
            img {
                width: 30px;
            }
        }
        &:hover {
            transform: scale(1.05);
        }
    }
}

.about-img-grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    .img-wrapper {
        border-radius: 5px;
        width: 100%;
        padding-top: 100%;
        position: relative;
        overflow: hidden;
        background-color: #dfdfdf;
        .about-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #dfdfdf;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: transform 0.2s ease;
        }
        &:hover {
            .about-img {
                transform: scale(1.2);
            }
        }
    }
}

@media (max-width: 1199.5px) {
    .about-address {
        .location-link {
            width: 40%;
        }
    }
}

@media (max-width: 991.5px) {
    .about-address {
        border-radius: 6px;
        background-color: #f0f0f0 !important;
        font-size: 14px;
        p {
            flex: 2;
        }
        .location-link {
            padding: 10px;
            flex: 1.7;
            .img-wrapper {
                border-radius: 6px;
                padding: 10px 10px;
                margin: 0 5px;
                img {
                    width: 25px;
                }
            }
        }
    }
    .about-img-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 575.5px) {
    .about-address {
        font-size: 12px;
        .location-link {
            padding: 10px 5px;
            flex: 2;
            .img-wrapper {
                border-radius: 6px;
                padding: 8px 8px;
                margin: 0 5px;
            }
        }
    }
}
