.bg-blue {
    background-color: $blue !important;
}

.bg-indigolight {
    background-color: $indigoLight !important;
}

.bg-indigodark {
    background-color: $indigoDark !important;
}

.bg-purple {
    background-color: $purple !important;
}

.bg-orange {
    background-color: $orange !important;
}

.bg-gray {
    background-color: $bg-gray !important;
}

.bg-white {
    background-color: #fff !important;
}

.text-blue {
    color: $blue;
}

.text-white {
    color: #fff !important;
}

.text-dark {
    color: $textDark !important;
}

.text-blue-dark {
    color: $textBlueDark !important;
}

.text-heading {
    color: $textHeading;
}

@media (min-width: 991.5px) {
    .bg-lg-gray {
        background-color: $bg-gray !important;
    }
    .bg-lg-white {
        background-color: #fff !important;
    }
    .bg-lg-indigodark {
        background-color: $indigoDark !important;
    }
    .bg-lg-purple {
        background-color: $purple !important;
    }
}
