.bg-blue {
    background-color: $blue;
}

.bg-indigolight {
    background-color: $indigoLight;
}

.bg-purple {
    background-color: $purple;
}

.bg-orange {
    background-color: $orange;
}

.bg-gray {
    background-color: $bg-gray;
}

.bg-white {
    background-color: #fff;
}

.text-blue {
    color: $blue;
}

.text-white {
    color: #fff !important;
}

.text-dark {
    color: $textDark !important;
}

.text-heading {
    color: $textHeading;
}
