label {
    color: $textDark;
}
.custom-switch {
    display: flex;
    &.custom-switch-box {
        padding-left: 2rem;
        .custom-control-input:checked ~ .custom-control-label {
            &::before {
                color: #fff;
                background-color: #fff;
            }
            &::after {
                background-color: transparent;
                background-image: url("../imgs/svg/switch-box.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 70%;
                transform: scale(1);
            }
        }
        .custom-control-label {
            cursor: pointer;
            &::before {
                left: -1.75rem;
                width: 1.2rem;
                pointer-events: all;
                border-radius: 2px;
                position: absolute;
                top: 0.2rem;
                display: block;
                height: 1.2rem;
                background-color: #fff !important;
                border: 1.5px solid #d2d2d2 !important;
                box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
            }
            &::after {
                background-color: transparent;
                top: 0.2rem;
                left: -1.75rem;
                width: 1.2rem;
                height: 1.2rem;
                border-radius: 5px;
                transform: scale(0.1);
            }
            &:focus {
                &::before {
                    background-color: red;
                }
            }
        }
    }
    &.custom-switch-box {
        padding-right: 2rem;
        .custom-control-label {
            &::before {
                right: -1.75rem;
            }
            &::after {
                right: -1.75rem;
            }
        }
    }
}
.form-check-label {
    background-color: #fff;
    padding: 5px;
    text-align: center;
    font-weight: $bold;
    input[type="radio"] {
        display: none;
    }
    border-radius: 3px;
    cursor: pointer;
    &:hover {
        color: #fff;
    }
    &.radio-active {
        color: #fff;
    }
}

.form-group {
    label {
        font-weight: $semibold;
        color: #fff;
        &.label-lg {
            font-size: 1.3rem;
        }
    }
    .form-control {
        color: $textDark;
        border-radius: 10px;
        height: calc(1.5em + 0.75rem + 12px);
        border: 0;
        &:focus {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
    }
    textarea {
        &.form-control {
            height: auto;
        }
    }
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    & + label {
        max-width: 80%;
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        color: #fff !important;
        background-color: $orange;
        padding: 5px 15px;
        border-radius: 5px;
        &:hover {
            background-color: #dca589;
        }
    }
    &:focus,
    &.has-focus {
        & + label {
            background-color: #dca589;
        }
    }
}
