.registeration-page {
    background-image: linear-gradient(
            to bottom,
            rgba(52, 172, 224, 0.85),
            rgba(52, 172, 224, 0.85)
        ),
        url("../imgs/jpg/register-bg.jpg");
    // display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media (max-width: 991.5px) {
    .registeration-page {
        h1 {
            font-size: 1.5rem;
        }
    }
}
