.reservation-card {
    background-color: #f3f3f3;
    border-radius: 15px;
    color: $textDark;
    font-weight: $semibold;
    position: relative;
    transition: transform 0.2s ease;
    &:hover {
        transform: scale(0.98);
    }
    .btn {
        border-radius: 8px;
    }
    p {
        display: flex;
        align-items: center;
    }
    .reservation-state {
        position: static;
        .reservation-state-indicator {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 0 0 8px;
        }

        .state-yellow {
            background-color: #e49e40;
        }
        .state-green {
            background-color: #72b340;
        }
        .state-gray {
            background-color: #666666;
        }
        .state-blue {
            background-color: #34ace0;
        }
        .state-red {
            background-color: #e95555;
        }
    }
}

@media (max-width: 991.5px) {
    .reservation-card {
        &:hover {
            transform: scale(0.95);
        }

        p {
            width: 100%;
        }
        .reservation-state {
            border-top: 1px solid #dfdfdf;
            padding-top: 20px;
            p {
                width: auto;
            }
        }
    }
}

@media (max-width: 575.5px) {
    .reservation-card {
        font-size: 14px;
        img {
            width: 20px;
        }
        p {
            width: 100%;
        }
        .reservation-state {
            border-top: 1px solid #dfdfdf;
            padding-top: 20px;
            p {
                width: auto;
            }
        }
    }
}

@media (min-width: 991.5px) and (max-width: 1200px) {
    .reservation-card {
        font-size: 14px;
        img {
            width: 20px;
        }
    }
}

.reservation-swiper {
    padding-bottom: 80px;
    .swiper-slide {
        padding: 0 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 0.2s ease;
        // max-width: 150px;
        .btn {
            border-radius: 6px;
            margin-top: -20px;
        }
        &:hover {
            transform: scale(0.95);
        }
    }

    .slide-body {
        width: 100%;
        border-radius: 20px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 0 35px 0;
        p {
            margin: 5px 0;
            &.title {
                font-size: 20px;
            }
        }
        hr {
            background-color: rgba(255, 255, 255, 0.35);
            display: block;
            height: 1px;
            width: 100%;
            margin: 5px 0;
        }
    }
    &.swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 30px;
    }
    .swiper-pagination-bullet {
        opacity: 1;
        background-color: $indigoDark;
        width: 20px;
        height: 20px;
    }
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
        background-color: $purple;
    }
}

@media (max-width: 991.5px) {
    .reservation-swiper {
        .swiper-slide {
            width: 25% !important;
        }
    }
}
@media (max-width: 767.5px) {
    .reservation-swiper {
        .swiper-slide {
            width: 30% !important;
        }
    }
}

@media (max-width: 576.5px) {
    .reservation-swiper {
        .swiper-slide {
            width: 40% !important;
        }
    }
}

@media (max-width: 450.5px) {
    .reservation-swiper {
        .swiper-slide {
            width: 43% !important;
        }
    }
}

@media (max-width: 355.5px) {
    .reservation-swiper {
        .swiper-slide {
            width: 70% !important;
        }
    }
}

// side popup
.side-popup {
    background-color: #006e9e;
    color: #fff;
    position: fixed;
    width: 500px;
    transition: top 0.3s ease, left 0.3s ease, opacity 0.3s ease;
    flex-shrink: 0;
    top: 0;
    left: -500px;
    height: 100%;
    overflow-y: auto;
    opacity: 0;
    font-size: 18px;
    padding-bottom: 25px;
    font-weight: $regular;
    z-index: 1000;
    &.show {
        left: 0;
        opacity: 0.95;
    }
    .close-popup {
        float: left;
        padding: 25px;
    }
    h5 {
        font-size: 24px;
        font-weight: $semibold;
    }
    h6 {
        font-size: 18px;
    }
    .btn {
        font-size: 20px;
    }
    .popup-top {
        padding: 25px 25px 0 25px;
    }
    .popup-body {
        padding: 0 25px 0 25px;
    }
}

@media (max-width: 767.5px) {
    .side-popup {
        background-color: transparent;
        color: $textDark;
        left: 0;
        top: 100%;
        width: 100%;
        opacity: 0;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
        font-size: 15px;
        &.show {
            top: 108px;
            height: calc(100% - 108px);
            opacity: 1;
        }
        h5 {
            font-size: 18px;
        }
        h6 {
            font-size: 15px;
        }
        .btn {
            font-size: 18px;
        }

        .price-total {
            background-color: #efefef !important;
        }
        .btn.btn-indigolight {
            background-color: $indigoDark !important;
        }
        .popup-top {
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            color: #fff;
            margin-bottom: -33px;
            padding-bottom: 49px !important;
            position: relative;
        }
        .popup-body {
            flex: 1;
            padding: 25px;
            overflow: auto;
            background-color: #fff;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            position: relative;
        }
        .close-popup {
            position: absolute;
            top: 9px;
            right: 18px;
            padding: 3px;
            img {
                width: 19px;
            }
        }
        .form-group {
            label {
                color: $textDark;
            }
            textarea {
                &.form-control {
                    border: 1px solid #cccccc;
                }
            }
        }
    }
}

.attachments-grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    .img-wrapper {
        border-radius: 5px;
        width: 100%;
        padding-top: 100%;
        position: relative;
        overflow: hidden;
        background-color: #dfdfdf;
        .attachment-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #dfdfdf;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: transform 0.2s ease;
        }
        &:hover {
            .attachment-img {
                transform: scale(1.2);
            }
        }
    }
    .img-title {
        font-size: 20px;
    }
}

@media (max-width: 1199.5px) {
    .attachments-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 991.5px) {
    .attachments-grid {
        .img-title {
            font-size: 18px;
        }
    }
}

@media (max-width: 767.5px) {
    .attachments-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575.5px) {
    .attachments-grid {
        .img-title {
            font-size: 14px;
        }
    }
}

.reservation-details-content {
    overflow: hidden;
    display: flex;
    .tab-pane {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }
    &.overflow-visible {
        .tab-pane {
            overflow: visible;
        }
    }
    ul.prescription {
        list-style: none;
        li {
            padding: 15px;
            border-bottom: 1px solid #dfdfdf;
            img {
                height: 20px;
            }
            &:last-of-type {
                border-bottom-width: 0;
            }
        }
    }
}

.video-iframe {
    width: 100%;
    height: 450px;
}

@media (max-width: 787.5px) {
    .video-iframe {
        height: 400px;
    }
}

@media (max-width: 575.5px) {
    .video-iframe {
        height: 250px;
    }
}

@media (max-width: 380.5px) {
    .video-iframe {
        height: 200px;
    }
}
