// colors
$bg-gray: #efefef;
$red: #e15b5b;
$orange: #f7b898;
$purple: #c1a7f2;
$indigoLight: #64ced8;
$indigoDark: #69b0cd;
$blue: #34ace0;
$blueDark: #36a0ce;
$textHeading: #3d3d3d;
$textDark: #202020;
$textLight: #ffffff;

// transitions
$defaultTransition: all 0.25s ease;

//shadows
$defaultShadow: 0 2px 4px rgba(0, 0, 0, 0.16);

//font
$defaultFont: "Cairo", sans-serif;

//font-weights
$regular: 400;
$semibold: 600;
$bold: 700;
